/* section Hero*/
.hero {
	@include mq(mobile-only) {
		max-width: 100%;
		height: auto;
		width: 480px;
	}
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../img/hero/hero-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1600px;
}

.hero-container {
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	color: var(--title-h1-color);
}

.hero-title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}
