
/* <!--Speciality--> */
.special {
	@include mq(desktop) {
		display: block;
	}
	
	display: none;
	padding-bottom: 94px;
}

.special__title {
	text-align: center;

	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	color: var(--title-text-color);
}

.special-list {
	display: flex;
}

.special-list__item {
	position: relative;
	margin-right: 30px;
    
    &:last-child {
        margin-right: 0;
    }
}

.special-decor-group {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
	background: rgba(47, 48, 58, 0.8);
}
