.modal__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 12px;

	color: #212121;
}

.form {
	@include mq(not-desktop) {
		width: 370px;
	}

	margin-right: auto;
}

.form-list__item {
	margin-bottom: 10px;
}

.form-list__field {
	position: relative;
	display: flex;
	flex-direction: column;
}

.form-list__item-texterea {
	margin-bottom: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.form-list__label {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: #757575;
}

.label-comment {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: #757575;
}

.form-list__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	color: #212121;

	transition: color var(--transition-timing) var(--transition-function);
}

.form-list__label:focus-within .form-list__icon {
	color: var(--accent-color-background);
}

.form-list__input {
	margin: 0;
	padding: 11px;
	padding-right: 12px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: 0;

	transition: border var(--transition-timing) var(--transition-function);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-color-background);
	}
}

.textarea {
	resize: none;
	padding: 12px 16px;

	margin: 0;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: 0;

	transition: border var(--transition-timing) var(--transition-function);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-color-background);
	}
}
