.social {
	@include mq(mobile-only) {
		text-align: center;
		margin-bottom: 60px;
	}

		@include mq(desktop) {
		margin-right: 95px;
	}

}

.social-list {
	display: flex;
	text-align: center;
	justify-content: center;

	&__item {
		width: 44px;
		height: 44px;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.social-list__link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	border-radius: 50%;

	color: #afb1b8;
	transition: color var(--transition-timing) var(--transition-function),
		background-color var(--transition-timing) var(--transition-function);
	background-color: rgba(255, 255, 255, 0.1);

	&:hover,
	&:focus {
		color: #fff;
		background-color: var(--focus-hover-color);
	}
}

.social-title {
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}
